<h1>Recipes Index</h1>
<% @recipes.each do |recipe| %>
  <p><%= recipe.name %> with <%= recipe.ingredients.count %> ingredients</p>
  <br>
<% end %>

<%= form_tag(redcipes_path, method: "GET") do %>
  <%= submit_tag("Unsorted") %>
<% end %>