<h1>Recipes Index</h1>
<% @recipes.each do |recipe| %>
  <p><%= recipe.name %> with <%= recipe.ingredients.count %> ingredients</p>
  <br>
<% end %>

<%= form_tag(recipes_path, method: "get") do %>
  <%= submit_tag("Unsort") %>
<% end %>